/* cormorant-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cormorant-v21-latin/cormorant-v21-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cormorant-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/cormorant-v21-latin/cormorant-v21-latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cabin-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cabin-v27-latin/cabin-v27-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cabin-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cabin";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/cabin-v27-latin/cabin-v27-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Colours */
  --color-primary: #123456;
  --color-secondary: #eb0032;

  /* Grey Scale */
  --color-white: #fff;
  --color-grey-lightest: hsl(0, 0%, 95%);
  --color-grey-lighter: hsl(0, 0%, 80%);
  --color-grey-light: hsl(0, 0%, 65%);
  --color-grey: hsl(0, 0%, 50%);
  --color-grey-dark: hsl(0, 0%, 35%);
  --color-grey-darker: hsl(0, 0%, 20%);
  --color-grey-darkest: hsl(0, 0%, 5%);
  --color-black: #000;

  /* Fonts */
  --font-primary: "Cormorant", serif;
  --font-secondary: "Cabin", sans-serif;

  /* Font Sizes */
  /* Static Font Sizes */
  --base-font-size: 18px;
  --font-size-smallest: calc(var(--base-font-size) * 0.5);
  --font-size-smaller: calc(var(--base-font-size) * 0.66);
  --font-size-small: calc(var(--base-font-size) * 0.75);
  --font-size-medium: calc(var(--base-font-size) * 1);
  --font-size-large: calc(var(--base-font-size) * 1.5);
  --font-size-larger: calc(var(--base-font-size) * 2);
  --font-size-largest: calc(var(--base-font-size) * 2.5);
  --font-size-mega: calc(var(--base-font-size) * 4);

  /* Responsive Font Sizes */
  /* These sizes use the variables from the static sizes */
  --font-size-responsive-heading: clamp(
    var(--font-size-medium),
    0.78rem + 0.976vw,
    var(--font-size-large)
  );
  --font-size-responsive-heading-large: clamp(
    var(--font-size-large),
    1.28rem + 0.976vw,
    var(--font-size-largest)
  );
  --font-size-responsive-heading-larger: clamp(
    var(--font-size-larger),
    1.78rem + 0.976vw,
    var(--font-size-largest)
  );
  --font-size-responsive-heading-largest: clamp(
    var(--font-size-largest),
    1.841rem + 2.927vw,
    var(--font-size-mega)
  );

  /* Line Heights */
  --scale-factor: 1.5;
  --line-height: 1.5;
  --line-height-small: 0.9;

  /* Spacing Items */
  --spacing: 1rem;
  --spacing-smallest: calc(var(--spacing) * 0.25);
  --spacing-smaller: calc(var(--spacing) * 0.5);
  --spacing-small: calc(var(--spacing) * 0.75);
  --spacing-medium: var(--spacing);
  --spacing-large: calc(var(--spacing) * 1.5);
  --spacing-larger: calc(var(--spacing) * 2);
  --spacing-largest: calc(var(--spacing) * 2.5);
  --spacing-mega: calc(var(--spacing) * 4);

  /* Widths */
  --width-small: 48em; /* 768px */
  --width-medium: 60em; /* 960px */
  --width-large: 73.75em; /* 1180px */
  --width-xl: 90em; /* 1440px */
  --width-100: 100%;
  --width-content-area: var(--width-large);

  /* Borders */
  --border-style: solid;
  --border-width: 2px;
  --border-color: var(--color-grey-dark);
  --border-radius: 5px;
  --border: var(--border-width) var(--border-style) var(--border-color);
  --text-decoration-thickness: var(--border-width);

  /* Animation */
  --transition-time: 0.3s;

  /* Grid Items */
  --grid-columns: 12;
  --grid-gap: var(--spacing);
  --grid-gap-none: 0;
  --grid-gap-small: var(--spacing-small);
  --grid-gap-large: var(--spacing-large);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin-block-start: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: var(--base-font-size);
  line-height: var(--line-height);
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.brand {
  --scale-factor-calculated: var(--scale-factor);
  line-height: var(--line-height-small);
  font-size: calc(var(--base-font-size) * var(--scale-factor-calculated));
  font-weight: bold;
  font-family: var(--font-primary);
}

h1 {
  --scale-factor-calculated: calc(
    var(--scale-factor) * var(--scale-factor) * var(--scale-factor)
  );
}

h2 {
  --scale-factor-calculated: calc(var(--scale-factor) * var(--scale-factor));
}

h3 {
  --scale-factor-calculated: var(--scale-factor);
}

h4,
h5,
h6,
.brand {
  --scale-factor-calculated: 1;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  max-width: 80ch;
}

p:last-of-type {
  margin-block-end: 0;
}

a {
  text-underline-offset: 6px;
}

a:focus-visible {
  outline: 2px dashed var(--color-secondary);
  outline-offset: 2px;
}
a:hover {
  text-decoration-thickness: var(--text-decoration-thickness);
}

.alt {
  display: inline-block;
  padding-inline: var(--spacing-smaller);
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-family: var(--font-primary);
  font-size: 130%;
}

.brand {
  color: var(--color-secondary);
  font-size: 130%;
}

.header {
  background-color: var(--color-primary);
}

.header__inner {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - calc(var(--spacing) *  2));
  padding: var(--spacing);
  color: var(--color-white);
}

.header__slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-block: var(--spacing-mega);
  flex-grow: 1;
  font-size: var(--font-size-responsive-heading-larger);
  position: relative;
}

.header__slogan p {
  text-align: center;
  text-wrap: balance;
}

.header__content {
  animation: header_content 2s;
}

@media screen and (min-width: 48em) {
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@keyframes header_content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header__content-logo {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 200px;
}

.header__nav ul {
  display: flex;
  gap: var(--spacing);
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__nav a {
  color: var(--color-white);
  text-decoration: none;
}

.header__nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: var(--text-decoration-thickness);
}

.footer {
  padding: var(--spacing-larger);
  background-color: var(--color-primary);
  color: var(--color-white);
}
.footer__item--logo img {
  max-width: 15rem;
}
.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Grids */
.grid {
  --grid-columns: 1;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
}
.grid--gap-none {
  gap: var(--grid-gap-none);
}
.grid--gap-small {
  gap: var(--grid-gap-small);
}
.grid--gap-medium {
  gap: var(--grid-gap);
}
.grid--gap-large {
  gap: var(--grid-gap-large);
}
.grid--center {
  justify-content: center;
  align-items: center;
}
.grid--center-h {
  justify-content: center;
}
.grid--center-v {
  align-items: center;
}
@media screen and (min-width: 48em) {
  .grid--halves,
  .grid--thirds,
  .grid--quarters {
    --grid-columns: 2;
  }
}
@media screen and (min-width: 60em) {
  .grid--thirds {
    --grid-columns: 3;
  }
  .grid--quarters {
    --grid-columns: 4;
  }
}

/* Containers */
.container {
  display: block;
  width: 100%;
  max-width: var(--width-content-area);
  margin-inline: auto;
}
.container--size-small {
  max-width: var(--width-small);
}
.container--size-medium {
  max-width: var(--width-medium);
}
.container--size-large {
  max-width: var(--width-large);
}
.container--size-xlarge {
  max-width: var(--width-xl);
}
.container--size-100 {
  max-width: none;
}
.container--alignment-start,
.container--alignment-left {
  margin-inline-start: 0;
}
.container--alignment-end,
.container--alignment-right {
  margin-inline-end: 0;
}
.container--padding-inline {
  padding-inline: var(--spacing);
}
.container--padding-block {
  padding-block: var(--spacing);
}
.container--padding {
  padding: var(--spacing);
}

/* Flows */
.flow {
  --flow-size: var(--spacing);
}
.flow > * + * {
  margin-block-start: var(--flow-size);
}

.flow--large {
  --flow-size: var(--spacing-largest);
}

.slice {
  padding-block: var(--spacing-mega);
  font-size: var(--font-size-responsive-heading);
  background-color: var(--color-white);
  color: var(--color-primary);
}

.slice--dark {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.slice__inner {
  min-height: calc(100dvh - calc(var(--spacing-mega) * 2));
  max-width: 40em;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.slice__inner > * {
  margin-block-end: 0;
}

.slice p {
  max-width: 50ch;
}

.slice a {
  color: var(--color-secondary);
}

.slice--dark a {
  color: var(--color-white);
}

.slice hr {
  width: 125px;
  margin-block: var(--spacing-larger);
  border-color: var(--color-secondary);
}

.slice--dark hr {
  border-color: var(--color-white);
}

.slice__inner > * + * {
  margin-block-start: var(--spacing-larger);
}

.slice__title {
  margin-block-end: var(--spacing-larger);
  font-size: var(--font-size-responsive-heading-largest);
  text-align: center;
}

.slice .quote {
  margin-block-start: var(--spacing-larger);
}

.slice--testimonials .quote {
  width: 100%;
}

.slice--testimonials .quote {
  margin-block-start: calc(var(--spacing-largest) * 2);
  padding-block-start: calc(var(--spacing-largest) * 2);
  border-block-start: 2px dashed var(--color-primary);
}

.quote {
  display: flex;
  margin: 0;
  gap: var(--spacing);
  align-items: start;
  font-size: var(--font-size-responsive-heading);
}

.quote__icon::before {
  display: inline-block;
  content: "“";
  line-height: 0.75;
  font-size: 100px;
  color: var(--color-secondary);
}

.quote cite {
  display: block;
}

.quote-list .quote + .quote:last-of-type {
  border-block-end: 2px dashed var(--color-primary);
  padding-block-end: calc(var(--spacing-largest) * 2);
  margin-block-end: calc(var(--spacing-largest) * 2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.skip-to-content {
  position: absolute;
  top: -1000px;
}
.skip-to-content:has(a:focus) {
  position: relative;
  top: 0;
}
